:host {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.347);
    padding: 20px;
}

.content-wrap {
    background-color: white;
}
