<!-- <ng-template
    let-productsFromNgIf="ngIf"
    let-toString="toString"
    [ngIf]="products"
    [ngIfElse]="loaderTemplate"
> -->
<!-- Раскомментировать div при выполнении ДЗ -->
<!-- <div appScrollWithLoading class="scroll-container" (loadData)="onLoad($event)"> -->

<!-- <div *ngIf="products; else: loaderTemplate; let productsFromNgIf = ngIf" class="scroll-container"> -->
<!-- <div *ngIf="products; else: loaderTemplate; ngIf as productsFromNgIf" class="scroll-container"> -->
<div *ngIf="products as productsFromNgIf; else loaderTemplate" class="scroll-container">
    <!--
    <ng-template [ngIf]="products" [ngIfElse]="loaderTemplate" let-productsFromNgIf="ngIf">
 -->

    <!-- {{toString}} -->
    <!-- <ng-template [appDumpNgIf]="products" let-productsFromNgIf="appDumpNgIf" let-name="name"> -->
    <!-- {{name}} -->
    <!-- <app-card class="card" [product]="productsFromNgIf[0]" (buy)="onProductBuy($event)"></app-card>
    <app-card class="card" [product]="productsFromNgIf[1]" (buy)="onProductBuy($event)"></app-card>
    <app-card class="card" [product]="productsFromNgIf[2]" (buy)="onProductBuy($event)"></app-card>
    <app-card class="card" [product]="productsFromNgIf[3]" (buy)="onProductBuy($event)"></app-card>
    <app-card class="card" [product]="productsFromNgIf[4]" (buy)="onProductBuy($event)"></app-card> -->

    <!-- Раскомментрировать для ДЗ -->
    <ng-container
        *appPagination="
            let productsGroup of products;
            chankSize: 4;
            let pageIndexes = pageIndexes;
            let activeIndex = index;
            let next = next;
            let back = back;
            let selectIndex = selectIndex
        "
    >
        <div class="cards">
            <app-card
                *ngFor="
                    let product of productsGroup;
                    trackBy: trackById;
                    let index = index;
                    let first = first;
                    let last = last;
                    let even = even;
                    let odd = odd
                "
                class="card"
                [product]="product"
                (buy)="onProductBuy($event)"
            ></app-card>
        </div>
        <div class="pagination">
            <button mat-icon-button (click)="back()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <div class="pagination__page-number-container">
                <button
                    *ngFor="let index of pageIndexes"
                    mat-icon-button
                    class="pagination__page-number"
                    [class.pagination__page-number_active]="activeIndex === index"
                    (click)="selectIndex(index)"
                >
                    {{ index + 1 }}
                </button>
            </div>
            <button mat-icon-button (click)="next()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </ng-container>
</div>
<!-- </ng-template> -->

<ng-template #loaderTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
